<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/edukasi.css" />
  </head>
  <body>
<%- include('../partials/navbar') %>

<section class="content">
  <h1><%= title %></h1>
  <p>Tips menghemat bahan bakar selama perjalanan:</p>
  <ul>
    <li>Jaga kecepatan stabil</li>
    <li>Hindari akselerasi dan pengereman mendadak</li>
    <li>Matikan mesin saat berhenti lama</li>
    <li>Periksa tekanan ban secara berkala</li>
  </ul>
</section>

<%- include('../partials/footer') %>
  </body>