<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/edukasi.css" />
  </head>
  <body>
<%- include('../partials/navbar') %>

<section class="content">
  <h1><%= title %></h1>
  <p>Langkah-langkah untuk menjaga keselamatan saat menggunakan kendaraan rental:</p>
  <ul>
    <li>Gunakan sabuk pengaman setiap saat</li>
    <li>Ikuti rambu lalu lintas</li>
    <li>Istirahat saat lelah dalam perjalanan jauh</li>
    <li>Gunakan GPS atau aplikasi navigasi terpercaya</li>
  </ul>
</section>

<%- include('../partials/footer') %>
</body>