<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/edukasi.css" />
  </head>
  <body>
<%- include('../partials/navbar') %>

<section class="content">
  <h1><%= title %></h1>
  <p>Berikut adalah beberapa panduan ringan untuk merawat kendaraan Anda sebelum dan sesudah digunakan.</p>
  <ul>
    <li>Cek tekanan ban secara rutin</li>
    <li>Ganti oli sesuai jadwal</li>
    <li>Periksa kondisi rem dan lampu</li>
    <li>Jaga kebersihan interior dan eksterior mobil</li>
  </ul>
</section>

<%- include('../partials/footer') %>
  </body>